<div class="text-center">
  <h1>About page</h1>
  <hr>

  <div class="row">

    <div class="col-md-5">
      <%= image_tag "septem.jpg", width: 300,
                                  alt: "profile picture" %>
    </div>
    <div class="col-md-7">
      Content - lorem ipsum
      <p>Fill in your information here :)</p>
    </div>
  </div>
</div>
